<section class="w-full py-16 text-white text-center min-h-screen">
    <h2 class="text-3xl md:text-4xl font-bold mb-8">Videos</h2>
    <div class="flex items-center justify-center">
        <div>
            <iframe
                loading="lazy"
                class="aspect-video"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/da_9s7t9Iho?si=Vhe9r6IltcN3O6ja&start=3870"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
            <small class="text-sm">Primera presentación en el programa "Todo Pasa" en Urbana Play FM</small>
        </div>
    </div>
</section>
