---
import { Picture } from 'astro:assets';
import featuredImg from '../../public/images/nextshow.jpg';
---

<section class="w-full py-16 bg-black text-white text-center">
    <h2 class="text-3xl md:text-4xl font-bold mb-4">UPCOMING NEXT:</h2>

    <Picture
        src={featuredImg}
        alt="Lo que se viene"
        sizes="(max-width: 767px) 100vw, 50vw"
        formats={['webp', 'avif', 'jpg']}
        widths={[480, 768, 1024]}
        class="w-full h-auto"
    />
    <div class="text-base md:text-lg font-small space-y-1 pb-4">
        <p>Con tu compra accedés al sorteo de</p>
        <p>una entrada para</p>
        <p>OASIS EN RIVER PLATE</p>
        <p>15 de noviembre | 21:00 | Campo 1</p>
    </div>
    <button class="buy-button px-8 py-4 bg-yellow-500 text-black text-lg lg:text-xl font-semibold rounded-md hover:bg-yellow-600 transition-colors">
        <a target="_blank" href="https://www.allaccess.com.ar/event/oeisis-tributo-a-oasis-knebworth-night">Comprar</a>
    </button>
</section>

<style>
    .buy-button {
        padding: 5px 15px;
        background-color: #f0cc42;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .buy-button:hover {
        background-color: #fff;
        color: #000;
    }
</style>
