---

---

<header class="fixed flex items-center justify-between bg-black text-white px-6 py-6 w-full">
    <a href="#inicio">
        <img src="/images/logo.png" class="h-14 w-auto" alt="oeisis logo" />
    </a>
    <ul class="flex space-x-6">
        <li><a href="#inicio" class="hover:text-yellow-500">Home</a></li>
        <li><a href="#sobre-nosotros" class="hover:text-yellow-500">About</a></li>
        <li><a href="#discografia" class="hover:text-yellow-500">Live shows</a></li>
        <li><a href="#contacto" class="hover:text-yellow-500">Contact us</a></li>
    </ul>
    <div class="flex space-x-4">
        <a href="https://youtube.com/oeisis" target="_blank" class="hover:text-yellow-500">
            <!-- SVG YouTube -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6">
                <title>Youtube channel</title>
                <path
                    d="M19.615 3.184C21.248 3.36 22.56 4.676 22.734 6.308 22.966 8.307 23 12 23 12s-.034 3.693-.266 5.692c-.174 1.632-1.486 2.948-3.119 3.124-2.75.287-8.615.287-8.615.287s-5.865 0-8.615-.287c-1.633-.176-2.945-1.492-3.119-3.124C.034 15.693 0 12 0 12s.034-3.693.266-5.692C.44 4.676 1.752 3.36 3.385 3.184 6.135 2.897 12 2.897 12 2.897s5.865 0 8.615.287zm-11.846 6.655v4.322l4.5-2.161-4.5-2.161z"
                ></path>
            </svg>
        </a>
        <a href="https://instagram.com/oeisisok" target="_blank" class="hover:text-yellow-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                <title>Instagram profile</title>
                <path
                    d="M12 2.163c3.204 0 3.584.012 4.85.07 1.206.057 2.037.246 2.517.413.548.183 1.01.415 1.464.87.454.455.687.916.87 1.465.167.48.356 1.311.413 2.517.058 1.265.07 1.646.07 4.85s-.012 3.584-.07 4.85c-.057 1.206-.246 2.037-.413 2.517-.183.548-.415 1.01-.87 1.464-.455.454-.916.687-1.465.87-.48.167-1.311.356-2.517.413-1.265.058-1.646.07-4.85.07s-3.584-.012-4.85-.07c-1.206-.057-2.037-.246-2.517-.413-.548-.183-1.01-.415-1.464-.87-.454-.455-.687-.916-.87-1.465-.167-.48-.356-1.311-.413-2.517-.058-1.265-.07-1.646-.07-4.85s.012-3.584.07-4.85c.057-1.206.246-2.037.413-2.517.183-.548.415-1.01.87-1.464.455-.455.916-.687 1.465-.87.48-.167 1.311-.356 2.517-.413 1.265-.058 1.646-.07 4.85-.07zm0-2.163c-3.259 0-3.667.013-4.947.072-1.312.059-2.21.276-3.005.57-.794.294-1.473.683-2.15 1.36-.677.677-1.065 1.356-1.36 2.15-.294.795-.511 1.693-.57 3.005-.059 1.28-.072 1.688-.072 4.947s.013 3.667.072 4.947c.059 1.312.276 2.21.57 3.005.294.794.683 1.473 1.36 2.15.677.677 1.356 1.065 2.15 1.36.795.294 1.693.511 3.005.57 1.28.059 1.688.072 4.947.072s3.667-.013 4.947-.072c1.312-.059 2.21-.276 3.005-.57.794-.294 1.473-.683 2.15-1.36.677-.677 1.065-1.356 1.36-2.15.294-.795.511-1.693.57-3.005.059-1.28.072-1.688.072-4.947s-.013-3.667-.072-4.947c-.059-1.312-.276-2.21-.57-3.005-.294-.794-.683-1.473-1.36-2.15-.677-.677-1.356-1.065-2.15-1.36-.795-.294-1.693-.511-3.005-.57-1.28-.059-1.688-.072-4.947-.072zm0 5.838a6.162 6.162 0 100 12.324 6.162 6.162 0 000-12.324zm0 10.162a3.838 3.838 0 110-7.676 3.838 3.838 0 010 7.676zm7.843-11.845a1.44 1.44 0 11-2.882 0 1.44 1.44 0 012.882 0z"
                ></path>
            </svg>
        </a>
        <!-- SVG Instagram -->
    </div>
</header>
